html, body, .container {
    height: 100%;
}
.block{

}

.block__row{

    border: 10px solid #ece89d;
    display: flex;
    flex-wrap: wrap;
       }

button {
    background-color: #ff0047;
}
/* flex-элемент */
.block__element{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #ffffff;
    background-color: #5e5373
}

/* контент */
.block__content{
    flex-wrap: wrap;
    float: left;
    height: 350px;
    width: 250px;
    background-color: #5e5373;
    text-align: center
}
span{
    color: #ff0044;
    font-weight: 900;
    font-size: large;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
h1{
    color: #ff0044;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}