
body {
    background: #1B2473;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: OpenSans-Regular, sans-serif;
    }
.limiter {
    background: #1B2473;
    width: 100%;
    height: 100%;
}
.conteiner-login {
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: inherit;

}
        @media screen

        and (min-width: 769px) {



.block-login {
    position: relative;
    margin-top: 62px;
    width: 600px;
    height: 412px;
    border-radius: 20px;
    background: #FFFFFF;
    display:block;

}
.login {
    position: absolute;
    display: block;
    margin-top: 30px;
    margin-left: 149px;
    Width: 302px;
    Height: 50px;
    color: #787878;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    font-family: Arial;
    font-weight: bold;
}

.text1 {
    position: absolute;
    display: block;
    width: 40px;
    height: 16px;
    color: #787878;
    margin-left: 53px;
    margin-top: 93px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.text11 {
    position: absolute;
    display: block;
    width: 7px;
    height: 12px;
    margin-left: 34px;
    margin-top: 119px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #787878;
   }

.text111 {
    position: absolute;
    width: 165px;
    height: 16px;
    margin-left: 46px;
    margin-top: 161px;
    color: #CB2424;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    opacity: 0;
}
.text112 {
    position: absolute;
    width: 165px;
    height: 16px;
    margin-left: 46px;
    margin-top: 161px;
    color: #CB2424;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    opacity: 0;
}
.login_text-input {
    position: absolute;
    height: 49px;
    width: 509px;
    margin-left: 45px;
    margin-right: 46px;
    margin-top: 112px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 28px;
}
.text2 {
    position: absolute;
    width: 56px;
    height: 16px;
    color: #787878;
    margin-left: 53px;
    margin-top: 187px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.text12 {
    position: absolute;
    display: block;
    width: 7px;
    height: 12px;
    margin-left: 34px;
    margin-top: 213px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #787878;
}

.text121 {
    position: absolute;

    height: 16px;
    margin-left: 46px;
    margin-top: 255px;
    color: #CB2424;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    opacity: 0;
}
.text122 {
    position: absolute;
    width: 165px;
    height: 16px;
    margin-left: 46px;
    margin-top: 255px;
    color: #CB2424;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    opacity: 0;
}

.parol_text-input {

    position: absolute;
    height: 49px;
    width: 509px;
    margin-left: 45px;
    margin-right: 46px;
    margin-top: 206px;
    font-size: 28px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
}

.text13 {
    position: absolute;
    display: block;
    width: 7px;
    height: 12px;
    margin-left: 34px;
    margin-top: 282px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #787878;
}

.form__checkbox {

    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 45px;
    margin-top: 280px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
}

.check-box {
    position: absolute;
    width: 278px;
    height: 16px;
    margin-top: 284px;
    margin-left: 79px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.text131 {
    position: absolute;
    width: 165px;
    height: 16px;
    margin-left: 46px;
    margin-top: 304px;
    color: #CB2424;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    opacity: 0;
}

.form__button {
    position: absolute;
    width: 180px;
    height: 52px;
    margin-left: 218px;
    margin-top: 334px;
    background: #1A226B;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
}
}

@media screen
    and (max-width: 768px)
     {
    body {
        background:  #FFFFFF;}


    .block-login {
        position: center;
        width: 100%;
        min-height: 90vh;
        position: relative;
        background: #FFFFFF;
        border-radius: 20px;
        display:block
    }

    .login {
        text-align: center;
        position: absolute;
        Height: 50px;
        width: 100%;
        margin-top: 38px;
        color: #787878;
        font-style: normal;
        font-size: 50px;
        line-height: 50px;
        font-family: Arial;
        font-weight: bold;
    }

    .text1 {
        Width: auto;
        position: absolute;
        display: block;
        width: 60px;
        height: 16px;
        margin-left: 53px;
        margin-top: 101px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .login_text-input {
        width: 80%;
        position: absolute;
        overflow: visible;
        padding-left: 15px;
        left: 45px;
        right: 45px;
        margin-top: 125px;
        background: #FFFFFF;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 28px;
    }
    .text2 {
        Width: auto;
        position: absolute;
        width: 56px;
        height: 16px;
        margin-left: 53px;
        margin-top: 187px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }

    .parol_text-input {
        width: 80%;
        position: absolute;
        left: 45px;
        right: 45px;
        overflow: visible;
        padding-left: 15px;
        margin-top: 211px;
        font-size: 28px;
        background: #FFFFFF;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .form__checkbox {

        position: absolute;
        width: 24px;
        height: 24px;
        margin-left: 45px;
        margin-top: 258px;
        background: #FFFFFF;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 7px;

    }

    .check-box {
        position: absolute;
        width: 70%;
        height: 16px;
        margin-top: 262px;
        margin-left: 79px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2vp;
        font-size: 14px;
        line-height: 16px;
    }

    .form__button {
        position: absolute;
        width: 180px;
        height: 52px;
        margin-left: 50%;
        margin-top: 334px;
        background: #1A226B;
        border-radius: 10px;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial;
        transform: translate(-50%, 0);

    }}

