
body {
    background: #1B2473;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: OpenSans-Regular, sans-serif;
    }
.limiter {
    background: #1B2473;
    width: 100%;
    height: 100%;
}
.conteiner-login {
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: inherit;

}
        @media screen

        and (min-width: 769px) {



.block-login {
    position: relative;
    margin-top: 62px;
    width: 600px;
    height: 412px;
    border-radius: 20px;
    background: #FFFFFF;
    display:block;

}
.login {
    position: absolute;
    display: block;
    margin-top: 26px;
    margin-left: 242px;
    Width: 115px;
    Height: 50px;
    color: #787878;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    line-height: 50px;
    font-family: Arial;
    font-weight: bold;
}

.text1 {
    position: absolute;
    display: block;
    position: absolute;
    width: 40px;
    height: 16px;
    margin-left: 53px;
    margin-top: 93px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
.login_text-input {
    position: absolute;
    height: 49px;
    width: 509px;
    margin-left: 45px;
    margin-right: 46px;
    margin-top: 112px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 28px;
    color: #CCCCCC;
    padding-left: 15px;
}
.text2 {
    position: absolute;
    width: 56px;
    height: 16px;
    margin-left: 53px;
    margin-top: 174px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.parol_text-input {

    position: absolute;
    height: 49px;
    width: 509px;
    margin-left: 45px;
    margin-right: 46px;
    margin-top: 193px;
    font-size: 28px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    color: #CCCCCC;
    padding-left: 15px;
}
    .block-1 {
        margin-top: 259px;
        margin-left: 35px;
        position: relative;
        display: flex;
        line-height: 40px;
        margin-outside: 72px;


            }

    .block-1 > input {
        position: absolute;
        width: 32px;
        height: 32px;
        opacity: 0;
            }

    .checkbox-mark {
        width: 32px;
        height: 32px;
        border: 2px solid #787878;
        font-size: 14px;
        border-radius: 7px;
        margin: 0 10px 0;
            }
    .block-1 > input:checked + .checkbox-mark::after {
        content: '✓';
        position: absolute;
        color: #787878;
        top: 1px;
        left: 6px;
        font-size: 30px;

            }


    .form__button {
        position: absolute;
        width: 180px;
        height: 52px;
        margin-left: 50%;
        margin-top: 30px;
        background: #1A226B;
        border-radius: 10px;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial;
        transform: translate(-50%, 0);
}


}

@media screen
    and (max-width: 768px) {
    body {
        background:  #FFFFFF;}


    .block-login {
        position: center;
        width: 100%;
        min-height: 90vh;
        position: relative;
        background: #FFFFFF;
        border-radius: 20px;
        display:block
    }

    .login {
        text-align: center;
        position: absolute;
        Height: 50px;
        width: 100%;
        margin-top: 38px;
        color: #787878;
        font-style: normal;
        font-size: 50px;
        line-height: 50px;
        font-family: Arial;
        font-weight: bold;
    }

    .text1 {
        Width: auto;
        position: absolute;
        display: block;
        width: 60px;
        height: 16px;
        margin-left: 53px;
        margin-top: 101px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .login_text-input {
        width: 80%;
        height: 49px;
        position: absolute;
        overflow: visible;
        padding-left: 15px;
        left: 45px;
        right: 45px;
        margin-top: 125px;
        background: #FFFFFF;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 28px;
        color: #CCCCCC;
    }
    .text2 {
        Width: auto;
        position: absolute;
        width: 56px;
        height: 16px;
        margin-left: 53px;
        margin-top: 187px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }

    .parol_text-input {
        width: 80%;
        height: 49px;
        position: absolute;
        left: 45px;
        right: 45px;
        overflow: visible;
        padding-left: 15px;
        margin-top: 211px;
        font-size: 28px;
        background: #FFFFFF;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
        color: #CCCCCC;
    }

    .block-1 {
        margin-top: 279px;
        margin-left: 35px;
        position: relative;
        display: flex;
        line-height: 40px;
        margin-outside: 72px;



    }

    .block-1 > input {
        position: absolute;
              width: 32px;
        height: 32px;
        opacity: 0;

    }

    .checkbox-mark {
        width: 32px;
        height: 32px;
        border: 2px solid #787878;
        font-size: 14px;
        border-radius: 7px;
        margin: 0 10px 0;
    }
    .block-1 > input:checked + .checkbox-mark::after  {
        content: '✓';
        position: absolute;
        color: #787878;
        top: 1px;
        left: 6px;
        font-size: 30px;

    }


    .form__button {
        position: absolute;
        width: 180px;
        height: 52px;
        margin-left: 50%;
        margin-top: 20px;
        background: #1A226B;
        border-radius: 10px;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial;
        transform: translate(-50%, 0);


    }}



