body {
    font-size: 40px;
}

.block__content {
    display: flex;

}
.block {
    height: 100px;
    background: red;
    margin: 20px 0;
}

.block_sticky {
    position: sticky;
    background: lime;
    top: 50px;

}
.block1 {
    background-color: #dad08e;
    margin: 20px 10px;
    width: 20%
}
.block2 {
    width: 100%
}