body {
    position: absolute;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(.jpg), #EDEDED;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-image: url(bgc.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
footer {
    position: absolute;
    width: 1920px;
    height: 856px;
    left: 0px;
    top: 900px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    position: absolute;
    width: 1110px;
    height: 100px;
    font-size: 79px;
    color: #998431;
    left: 400px;
    top: 0px;

}
#square {
    position: relative;
    width: 1110px;
    height: 656px;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;


}
#squareline {
    position: absolute;
    width: 160px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    left: 288px;
    top: 154px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text1 {
    position: absolute;
    width: 733px;
    height: 54px;
    left: 592px;
    top: 120px;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.text2 {
    position: absolute;
    width: 733px;
    height: 192px;
    font-family: Verdana;
    top: 194px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

}

.contacts span {
    text-decoration: none;
    text-align: left;
    position: absolute;
    left: 405px;
    top: 170px;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}

.phone {
    position: absolute;
    margin-left: 1390px;
    margin-top: 170px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}

.btn-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 404px;
    margin-top: 200px;
    background-image: none;
}

.form__button {
    z-index: 2;
    width: 271px;
    height: 43px;
    border: 1px solid #FFFFFF;
    color: white;
    font-size: 14px;
    font-family: Arial;
    background-color: transparent;
    background-repeat:no-repeat;
    border-right: none;
    cursor:pointer;
    text-decoration: none;

}
.form__button-first {
    z-index: 2;
    width: 271px;
    height: 43px;
    border: 1px solid #FFFFFF;
    color: white;
    font-size: 14px;
    font-family: Arial;
    background-color: transparent;
    background-repeat:no-repeat;
    border-right: none;
    cursor:pointer;
    border-left: none;
}


.block__content {
    position: absolute;
    margin-left: 285px;
    margin-top: 282px;
}

.bottom_footer {
    position: absolute;
    width: 1920px;
    height: 220px;
    margin-left: -591px;
    top: 736px;
    background: #998431;
}

.bottom_footer-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 440px;
    margin-top: 50px;
    background-image: none;
}

.bottom_footer-group-button {
    z-index: 2;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 14px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    text-decoration: none;

}

#bottom_footer-squareline {
    position: absolute;
    width: 1110px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 405px;
    margin-top: 50px;

}

#bottom_footer-squareline2 {
    position: absolute;
    width: 1110px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: -35px;
    margin-top: 60px;

}

.footer-lecorte {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: -1013px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    text-decoration: none;

}

#bottom_footer-squareline3 {
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 300px;
    margin-top: 60px;

}

.tel {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: 130px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    text-decoration: none;

}
#bottom_footer-squareline4 {
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 600px;
    margin-top: 60px;
}

.footer-youtube {
    z-index: 3;
    margin-left: 65px;
    margin-top: 79px;
}
.footer-VK {
    z-index: 3;
    margin-left: 30px;
    margin-top: 79px;
}
.footer-Facebook {
    z-index: 3;
    margin-left: 30px;
    margin-top: 79px;
}

#bottom_footer-squareline5{
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 820px;
    margin-top: 60px;
}

.footer-lecorte2 {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
}


