
body {
    position: absolute;
    width: 1920px;
    height: 1038px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(.jpg), #EDEDED;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #E6E3C4;
}

h1 {
    position: absolute;
    width: 347px;
    height: 24px;
    left: 405px;
    top: 140px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

#squareline {
    position: absolute;
    width: 1110px;
    height: 0px;
    border: 1px solid #998431;
    box-sizing: border-box;
    left: 405px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    position: absolute;
    width: 298px;
    height: 108px;
    left: 405px;
    top: 170px;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
}

#squareline {
    position: absolute;
    width: 160px;
    height: 0px;
    border: 1px solid #282828;
    box-sizing: border-box;
    left: 405px;
    top: 332px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#squareline2 {
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 405px;
    top: 958px;
    border: 1px solid #998431;
}

.description{
    position: absolute;
    width: 445px;
    height: 84px;
    left: 405px;
    top: 362px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

table{
    border-style: hidden;
    position: absolute;
    height: 228px;
    left: 405px;
    top: 476px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
    width: 445px;
    border-collapse: collapse;

}

.namevino {
    border-top: 1px solid #282828;
    border-collapse: collapse;
    font-size: 18px;
    font-family: cursive;
}

TD {
    padding: 3px;
    border-right: 1px solid #282828;
    border-top: 1px solid #282828;
    padding: 24px;

}
.descriptionvino {
    border-top: 1px solid #E6E3C4;
    font-family: Verdana;
}
.block__content {
    position: absolute;
    margin-left: 975px;
    margin-top: 140px;
}
.block__content2 {
    position: absolute;
    margin-left: 975px;
    margin-top: 670px;
}

.block__content3 {
    position: absolute;
    margin-left: 1260px;
    margin-top: 670px;
}

.description2 {
    position: absolute;
    width: 445px;
    height: 84px;
    left: 405px;
    top: 734px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}
.form__button {
    position: static;
    width: 254px;
    height: 50px;
    margin-left: 405px;
    margin-top: 848px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #998431;
}

footer {
    position: relative;
    width: 1920px;
    height: 856px;
    top: 155px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square {
    position: relative;
    margin-left: 0px;
    width: 1110px;
    height: 538px;
    margin-top: -200px;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;

}

h3 {
    position: absolute;
    width: 430px;
    height: 54px;
    margin-left: 360px;
    margin-top: -30px;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    background: #282828;
}
.block__content4 {
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
    background: #282828;

}

.block__content5 {
    position: absolute;
    margin-left: -30px;
    margin-top: -60px;
    background: #282828;

}

#squareline3 {
    position: absolute;
    width: 118px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    left: 496px;
    top: 40px;
}

.description_footer{
    position: absolute;
    width: 539px;
    height: 72px;
    left: 286px;
    top: 70px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.name_input  {
    position: absolute;
    width: 254px;
    height: 30px;
    left: 286px;
    top: 223px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    background: #282828;
    border-left: none;
    border-top: none;
    border-right: none;


}

.year_input {
    position: absolute;
    width: 254px;
    height: 30px;
    left: 571px;
    top: 223px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    background: #282828;
    border-left: none;
    border-top: none;
    border-right: none;


}

.price_input {
    position: absolute;
    width: 254px;
    height: 30px;
    left: 571px;
    top: 290px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    background: #282828;
    border-left: none;
    border-top: none;
    border-right: none;
}
#textArea {
    position: absolute;
    width: 534px;
    height: 80px;
    left: 286px;
    top: 328px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    background: #282828;

}

.form__button2 {
    position: static;
    width: 540px;
    height: 60px;
    margin-left: 286px;
    margin-top: 423px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
}

.bottom_footer {
    position: absolute;
    width: 1920px;
    height: 220px;
    left: 0px;
    top: 767px;
    background: #998431;
}

.bottom_footer-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 440px;
    margin-top: 50px;
    background-image: none;
}

.bottom_footer-group-button {
    z-index: 2;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 14px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    text-decoration: none;

}

#bottom_footer-squareline {
    position: absolute;
    width: 1110px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 405px;
    margin-top: 50px;

}

#bottom_footer-squareline2 {
    position: absolute;
    width: 1110px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: -35px;
    margin-top: 60px;

}

.footer-lecorte {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: -1013px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    text-decoration: none;

}

#bottom_footer-squareline3 {
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 300px;
    margin-top: 60px;

}

.tel {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: 130px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    text-decoration: none;

}
#bottom_footer-squareline4 {
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 600px;
    margin-top: 60px;
}

.footer-youtube {
    z-index: 3;
    margin-left: 65px;
    margin-top: 79px;
}
.footer-VK {
    z-index: 3;
    margin-left: 30px;
    margin-top: 79px;
}
.footer-Facebook {
    z-index: 3;
    margin-left: 30px;
    margin-top: 79px;
}

#bottom_footer-squareline5{
    position: absolute;
    width: 0px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 820px;
    margin-top: 60px;
}

.footer-lecorte2 {
    z-index: 2;
    width: 210px;
    height: 21px;
    color: white;
    font-size: 14px;
    margin-left: 120px;
    margin-top: 79px;
    font-family: Verdana;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
}

.name {
    background-color: #998431;
    width: 1110px;
    height: 60px;
    margin-inside:  100px;
    margin-left: 405px;
    margin-top: 100px;
    font-family: cursive;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    border-collapse: collapse;

}

.year {
    border-collapse: collapse;
    font-size: 20px;
    font-family: cursive;
    margin-left: 405px;
}

.text {
    width: 1110px;
    margin-left: 405px;
    border: 1px solid #998431;
    border-collapse: collapse;
    font-size: 18px;
    font-family: cursive;

}

.price {
    width: 1110px;
    border: 4px solid #998431;
    color: #998431;
    margin-left: 405px;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 50px;
}